flask
flask_cors
python-dotenv
pymongo
hvac
boto3
requests
gunicorn
confluent-kafka
cryptography
qdrant-client
chromadb
langchain
langchain_community
langchain_groq
langchain_huggingface
langchain_core
openai
anthropic
groq
google-generativeai
google-cloud-aiplatform
sentence-transformers
tiktoken
pydantic
unstructured
docx2txt
pypdf2
python-docx
werkzeug
scikit-learn
Flask[async]
pdfplumber
playwright
ddgs

